.items-container:hover{
  .item{
    opacity: .8;
    &:hover {
      opacity: 1;
    }
  }
}

.item{
  margin-bottom: 30px;
  margin-top: 30px;
  transition: opacity 100ms, box-shadow 250ms;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.item-icon{
  height: 100%;
  width: auto;
}

.item-icon-container{
  height: 220px;
}